<style>
.close-button-div .close {
	margin-top: -2%;
	margin-right: -1%;
	font-size: 2rem;
	font-weight: 800;
	float: right;
}
		
.table-request{
	max-width:100%; 
	table-layout:fixed; 
	margin:auto;
}
.table-head{
	display:table; 
	width:100%;
	height: 38px;
	text-align: center; 
	background-color: #1e4e7d;
	color:white; 
	border: 3px solid white; 
	font-weight:100; 
}

tbody{
	display:block;
	width:100%;
 
}
.tr-secondary{
	display:table; width:100%;
    table-layout:fixed;
}
td{
	background-color: #eef3f6;
	color:#1e4e7d;
	border: 3px solid white; 
	font-weight:100;
	text-align: center;
}
.div-table{
	border: 2px solid #1e4e7d; 
	padding: 1%;
	min-height: 200px;
	max-height: 500px;
	overflow-y: auto;
	width: 1000px;
	max-width: 100%;
}
p{
	text-align: center; 
	font-weight: 500; 
	font-size: 22px;
	color: #1e4e7d;
}
.blank-result-div{
	height: 200px;
	width: 300px;
	color: #1e4e7d;
	text-align: center;
	padding-top: 10%;
	font-size: 19px;
}

        
</style>
				
				
				
<div class="close-button-div">
				<button type="button" class="close" aria-label="Close" (click)="onCloseCancel()">
								<span aria-hidden="true">&times;</span>
							</button>
</div>

<div class="container">
	<p style="font-weight: bold">Request Details</p>
	<div class="div-table" *ngIf="this.data != null; else showBlankResult">
	<table class="table table-request">
		<thead class="table-head">
				<tr>
					<th style="width:10%;">Application</th>
					<th style="width:20%;">Role</th>
					<th style="width:10%;">Branch ID</th>
					<th style="width:15%;">Action</th>
					<th style="width:15%;">Status</th>
					<th style="width:10%;">Provision Date</th>
					<th style="width:20%;">Remark</th>
				</tr>
			</thead>
		<tbody>	
		<tr *ngFor="let item of this.data;" class="tr-secondary" >
						<td style="width:10%;">{{item.application}}</td>
						<td style="width:20%;">{{item.role}}</td>
						<td style="width:10%;">{{item.branchId}}</td>
						<td style="width:15%;">{{item.action}}</td>
						<td style="width:15%;">{{item.status}}</td>
						<td style="width:10%;">{{item.provisionDate}}</td>
						<td style="width:20%;">{{item.remark}}</td>
				</tr>
			</tbody>	
		</table>
	</div>
	<ng-template #showBlankResult>
			<div class="blank-result-div"> No details present </div>
	</ng-template>
</div>