<div id="tab-2" class="tab-content visiblilityUpload"  >
	<div id="" data-ng-controller="requestTrackController"> <!-- requestTrackData.detailData. -->
		<div class="">
			<form name="docUploadForm" id="docUploadForm" method="post" custom-form-validate="requestTrackData"
				enctype="multipart/form-data">
				<div class="tabsec clearfix">

					<div class="clearfix mb-10 gap-top">
						<div class="width6">
							<div class="form-group key">
								<label class="textfield" style="color:#1976d2;">Request ID </label> <input
									class="form-control width4" type="text" id="requestId"
									data-ng-model="requestId" name="requestId" [(ngModel)]="requestId" (keypress)="onlyNumberKey($event)"  maxlength="6"  (focus)="clearNullFieldError()"/> <span
									id="requestId_Error" class="error" style="display: none"></span>

							</div>
						</div>

						<div class="width6 pull-right">
							<div class="form-group key">
								<label class="textfield" style="color:#1976d2;">User ID </label> <input
									class="form-control width4" type="text" id="userId"
									data-ng-model="userId" name="userId" [(ngModel)]="userId" (keypress)="onlyNumberKey($event)"  maxlength="10"  (focus)="clearNullFieldError()"/> <span
									id="requestBy_Error" class="error" style="display: none"></span>
							</div>
						</div>

					</div>
					<div class="clearfix">
						<div class="width6" style="margin-top: -25px;">
							<div class="form-group key">
								<label class="textfield2" style="color:#1976d2; margin-top: 36px;">Requested By</label> <input
									class="form-control width4 textfield2" type="text" id="requestBy"
									data-ng-model="requestBy" name="requestBy" [(ngModel)]="requestBy" (keypress)="onlyNumberKey($event)"  maxlength="10"  (focus)="clearNullFieldError()"/>
							</div>
						</div>
						
						<ng4-loading-spinner [timeout]="12000"> </ng4-loading-spinner>

						<div class="width6 pull-right">
							<div class="form-group key">
								<label class="textfield" style="color:#1976d2;">Request Status </label> 
									<select id="requeststatus" name="requeststatus" class="form-control width5 mandatory" [(ngModel)]="requestStatus" style="margin-top: 6px;" (focus)="clearNullFieldError()">
											<option value="">[Select One]</option>
											<option value="S">Success </option>
											<option value="F">Failed </option>
											<option value="R">Pending </option>
										</select>	
									<span id="requestStatus_Error" class="error" style="display: none"></span>
							</div>
						</div>
						<div class="clearfix mb-10">

						</div>

					</div>

	<div class="clearfix mb-10" id="docUploadDate" name="docUploadDate">
		<div class="width6">
			<div class="form-group key date_box">
				<label class="textfield" style="color:#1976d2; padding-right: 0px;">Request Date From 
				</label> 
				

		
				<input  #requestDateFromID (keydown)="keyDownHandlerFPDate($event)" [min]="minDate" [max]="maxDate" name="requestDateFrom" (focus)="clearNullFieldError()"
					matInput [matDatepicker]="myDatepicker" style="background-color: white; padding-top: 9px; border: 1px #d8d5d5 solid;  " maxlength="10">
				<mat-datepicker-toggle matSuffix [for]="myDatepicker" ></mat-datepicker-toggle>
				<mat-datepicker #myDatepicker></mat-datepicker>

			</div>
		</div>
		<div class="width6 pull-right">
			<div class="form-group key date_box">
				<label class="textfield" style="color:#1976d2; padding-right: 18px;">Request Date To
				</label> 

				<input #requestDateToID (keydown)="keyDownHandlerFPDate($event)" [min]="minDate" [max]="maxDate"  name="requestDateTo" (focus)="clearNullFieldError()"
					matInput [matDatepicker]="dp" style="background-color: white; padding-top: 9px; border: 1px #d8d5d5 solid;" maxlength="10">
				<mat-datepicker-toggle matSuffix [for]="dp" ></mat-datepicker-toggle>
				<mat-datepicker #dp ></mat-datepicker>
							
						
			</div>
		</div>

		<div class="width6 mg-12">
				<div class="form-group key">
					<label class="textfield " style="color:#1976d2;">Application </label>
					<select *ngIf="this.appDataPresent" id="application" [(ngModel)]='appSelect' name="application" class="form-control width5 mandatory" (focus)="clearNullFieldError()">	
							<option value="">[Select One]</option>
									<option  *ngFor="let app of this.data.applicationList | keyvalue" value = "{{app.value}}">
											{{app.key}}
											</option>		
							</select>	
				</div>
			</div>
	</div>


		<div class="clearfix mb-10" style="margin-top: -26px; z-index: 27;">
				<div [className]=" this.showNullTraceError ? 'show-error-div' : 'hide-error-div'">
					<div class="alert is-critical">{{this.errorMessage}}
						<div class="close-error-div">
							<button type="button" class="close" aria-label="Close" (click)="closeErrorDiv()">
									<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
				</div><br>
			<div class="buttonmargin" style="margin-top: 0px; text-align: center;">
				<div class="clearfix mb-10 ">
						<!-- <div [className]=" this.showNullTraceError ? 'show-error-div' : 'hide-error-div'">{{this.errorMessage}}</div><br> -->
					<button type="button" class="btn btn-blue btn-widths" 
					(click)="setRequestTrackDetail()">Trace</button>
					<button type="button" class="btn btn-blue btn-widths" (click)="resetValues()">Reset</button>

					
				</div>
			</div>
		</div>

	</div>

			</form>
		</div>
		<!-- <div id="loading_ajax" style="display: none" align="center">
			
		</div> -->

		
	</div>
</div>
<br>

		<div class="main-div-outer"  *ngIf="show">
<div class="search-div">
<mat-form-field class="search-form-field" >
		<input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search" autocomplete="off">
		<!-- <button mat-button matSuffix mat-icon-button arial-label="clear" (click)="clearSearchFilter()" [className]=" this.searchKey==null ? 'hide-close-icon' : 'show-close-icon'">
			X
		</button> -->
</mat-form-field>

<button type="button" class="exportExcel" id="exportExcel" (click)="downloadExcelFile()"  *ngIf="show">Export To Excel</button>

</div>

<div class="mat-table-data">
		<table mat-table #table [dataSource]="dataSource" matSort>
	  
		  <ng-container matColumnDef="requestId">
			<th mat-header-cell  *matHeaderCellDef mat-sort-header class="mat-header-decorator"> Request ID </th>
			<td mat-cell  class="mat-custom-border"*matCellDef="let element"> {{element.requestId}} </td>
		  </ng-container>


		  <ng-container matColumnDef="userId">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-decorator" style="padding-left: 4%;"> User ID </th>
				<td mat-cell *matCellDef="let element"> {{element.userId}} </td>
		</ng-container>



		<ng-container matColumnDef="branchId">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-decorator"> Branch ID </th>
			<td mat-cell *matCellDef="let element"> {{element.branchId}} </td>
		</ng-container>

		  
		  <ng-container matColumnDef="requestBy">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-decorator"> Requested By </th>
			<td mat-cell *matCellDef="let element"> {{element.requestBy}} </td>
		  </ng-container>
	  
		  <ng-container matColumnDef="requestDate">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-decorator"> Requested On </th>
			<td mat-cell *matCellDef="let element"> {{element.requestDate}} </td>
		  </ng-container>
	  
		  <ng-container matColumnDef="requestReason">
			<th mat-header-cell *matHeaderCellDef class="mat-header-decorator"> Requested Reason </th>
			<td mat-cell *matCellDef="let element"> {{element.requestReason}} </td>
		  </ng-container>
	  
		   <ng-container matColumnDef="requestedDetails">
			<th mat-header-cell *matHeaderCellDef class="mat-header-decorator"> Requested Details </th>
			<td mat-cell *matCellDef="let element"> <a (click)="setRequestAppRoleDetails(element.userId, element.requestId)" style="text-decoration: underline">show Details</a> </td>
		  </ng-container>
	  
		  <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
		  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
</div>
		</div>
 
 <div [className]=" this.show ? 'pagination-show' : 'pagination-hide'" class="pagination-div">
 <mat-paginator #paginator class="custom-mat-paginator"
	[pageSize]="10"
	[pageSizeOptions]="[5, 10, 20]"
	[pageIndex]="0"  
	[showFirstLastButtons]="true">
</mat-paginator>
</div>
