<style>

.close-button-div .close {
    margin-top: -3%;
    margin-right: -2%;
    font-size: 2rem;
    font-weight: 800;
    float: right;
}
.error-p{
    font-weight: bold;
    font-size: large; 
    /* text-align: center; */
}
.msg-div{
    color: red;
    text-align: center;
    font-weight: bold;
}

.table-main{
	max-width:100%; 
	table-layout:fixed; 
	margin:auto;
}
.table-head{
	display:table; 
	width:100%;
}
.table-head-col{
	text-align: center; 
	background-color: #1e4e7d;
	color:white; 
	border: 3px solid white; 
	font-weight:500; 
	width: 16.5%;
}
.excel-table-body{
	overflow-y:auto; 
	overflow:auto;
	overflow-x:hidden;
	/* height: 550px; */
	display:block;
    width:100%;
    padding: 1%;
 
}
.tr-secondary{
	display:table; width:100%;
    table-layout:fixed;
}
td{
	background-color: #f2ddd9;
	color:#1e4e7d;
	border: 3px solid white; 
}
.div-table{
	border: 2px solid #1e4e7d; 
	padding-bottom: 4px; 
    padding-top: 4px;
    overflow-y: auto;
    max-height: 550px;
    min-height: 80px;
    overflow-x: hidden;
}
.main-header{
	text-align: center; 
	font-weight: bold; 
	font-size: 22px;
	color: #1e4e7d;
}
.result-div{
    min-height: 100px;
    max-height: 550px;
    overflow-y: auto;
    min-width: 350px;
    color: green;
    text-align: center;
    /* padding-top: 20%; */
    font-size: 19px;
    font-weight: bold;
    border: #1e4e7d 3px solid;
    padding: 5%;
}
.mat-header-cell {    text-align: center;    }
.error-td{
   width: 11%; font-weight: 500;
}
.row-td{
    width: 11%; font-weight: 500;
}
.column-td{
    width: 14%; font-weight: 500;
}
.errorDesc-td{
    width: 64%; text-align: left; font-weight: 500;
}
</style>

 
        <div class="close-button-div">
            <button type="button" class="close" aria-label="Close" (click)="onCloseCancel()">
                    <span aria-hidden="true">&times;</span>
                    </button>
        </div>

<div *ngIf="show">
    <div class="container">
        <div  *ngIf="this.data.errorList.length != 0; else showSuccessResult">
            <p class="main-header">Validation Result</p>
            <div class="div-table">
                <table class="table table-main">
                    <tbody class="excel-table-body">	
                        <tr *ngFor="let item of this.data.errorList; let i = index;" class="tr-secondary" >
                            <td class="error-td">Error {{i+1}}: </td>
                            <td class="row-td">Row : {{item.row}}</td>
                            <td class="column-td">Column : {{item.column}}</td>
                            <td class="errorDesc-td">{{item.error}}</td>
                        </tr>
                    </tbody>	
                </table>
                <br><br>
                <div class="msg-div">
                    * Please rectify above details and then try to upload.<br>
                </div>
            </div>
        </div>
        <ng-template #showSuccessResult>
            <div class="result-div"> <p style="padding: 3%">Validation Successful</p> </div>
        </ng-template>
    </div>
</div>


