<h2>Learning Angular😊</h2>

<div class="options" style="position: relative; left: 68px; width: 700px">
  <nav class="row" style="position: relative; height: 42px; width: 700px">
    <ul class="tabs-menu" style="list-style: none; margin-bottom: 0px">
      <li
        routerLink="/formControl"
        routerLinkActive="tab-head-active"
        class="tab-head pd-10 bg-col-dark"
        style="background-color: #a7d4f3"
      >
        &nbsp;Form Controls
      </li>

      <li
        routerLink="Navigation/{{ username }}"
        routerLinkActive="tab-head-active"
        class="tab-head pd-10 bg-col-dark"
        style="background-color: #babfc2"
      >
        &nbsp;&nbsp;&nbsp;&nbsp;Navigation
      </li>

      <li
        routerLink="layout"
        routerLinkActive="tab-head-active"
        class="tab-head pd-10 bg-col-dark"
        style="background-color: #d3bea7"
      >
        &nbsp;&nbsp;&nbsp;&nbsp;Layout
      </li>
      <li
        routerLink="btn&Indicator"
        routerLinkActive="tab-head-active"
        class="tab-head pd-10 bg-col-dark"
        style="background-color: #dfdba8"
      >
        &nbsp;&nbsp;&nbsp;&nbsp;Button&Indicator
      </li>
    </ul>
  </nav>
</div>

<!-- <h5>1. Form Control Component </h5>

<a routerLink='/formControl' >FormControl </a> -->
<router-outlet></router-outlet>

<!-- hello jaya
<h4>Welcome to angular</h4>
<h2>{{title}}</h2> -->

<!-- <input type="text" [value]='myvalue' > -->
<!--<input type="text" [(ngModel)]="myvalue" >
    <p>{{myvalue}}</p>-->
    
<!-- <br><h4>Test Component added</h4>
 <app-test></app-test> -->

<!--<br><h4>parent Component added</h4><br>
 <app-parent></app-parent>-->

<!-- <br><h4>child Component added</h4>
 <app-child></app-child>


 <a routerLink='/comp1' routeLinkActive="active">LoadComponent1</a>
 <br>
 <a routerLink='/comp2'>LoadComponent2</a>

<router-outlet></router-outlet>
<h4>xyz</h4> -->
