<style>
.permission-div{
    min-height:100px;
    min-width:510px;
    max-height: 400px;
    overflow-y: auto;
    padding: 2%;
    border:#1e4e7d 3px solid;
    margin: 1%;
    text-align: center;
}
 .close-button-div .close {
    margin-top: -5%;
    margin-right: -3%;
    font-size: 2rem;
    font-weight: 800;
    float: right;
}
.inner-permission{
    font-weight: bold; 
    padding: 6%;
}
</style>

<div *ngIf="this.data;">
    <div class="close-button-div">
        <button type="button" class="close" aria-label="Close" (click)="onCloseCancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container">
        <div class="permission-div" >
            <div *ngFor="let item of this.data;" style=" font-size: larger; color: #1e4e7d"> 
                <div *ngIf="item.userPermissionList != 'null'; else noPermissionList">
                    <div class="inner-permission">Permission List  :  <span style="padding-left: 2% ">{{item.userPermissionList}}</span></div>
                </div>
                <ng-template #noPermissionList>
                        <div class="inner-permission">No Permission list present</div>
                </ng-template>
            </div>

        </div>
    </div>
</div>



