

<div id="tab-1" class="tab-content visiblilityUpload">
	<form name="docUploadForm" id="docUploadForm" method="post"	enctype="multipart/form-data">
		<div class="tabsec clearfix">
			<div class="clearfix mb-10 gap-top">
				<div class="width6">
					<div class="form-group key">
						<label class="width6 mg-10" style="color:#1976d2;" for="userid">User Id </label> 
						<input
							class="form-control width4 mandatory" id="userid" name="userid" (focus)="clearNullFieldError()"
							type="text" [(ngModel)]="userid" (keypress)="onlyNumberKey($event)" maxlength="10"/>
						
					</div>
				</div>

				<div class="width6 pull-right"  >
					<div class="form-group key">
						<label class="width6 mg-10" style="color:#1976d2;">Branch Id </label> <input
							class="form-control width4 mandatory" id="branchid" (focus)="clearNullFieldError()"
							name="branchid" type="text" [(ngModel)]="branchid" (keypress)="onlyNumberKey($event)"  maxlength="6"/>
					</div>
				</div>

			</div>
			<div class="clearfix mb-10">
				<div class="width6 mg-10">
					<div class="form-group key">
						<label class="width6 mg-10" style="color:#1976d2;">First Name </label> <input
							class="form-control width4 mandatory" id="firstname" (focus)="clearNullFieldError()"
							name="firstname" type="text" [(ngModel)]="firstname" (keypress)="onlyAlphabets($event)"  maxlength="15"/>
					</div>

													<!-- spinner added here -->
					<ng4-loading-spinner [timeout]="12000"> </ng4-loading-spinner>


				</div>
				<div class="width6 pull-right last-name-div">
					<div class="form-group key">
						<label class="mg-40 textfield" style="color:#1976d2;">Last name </label> <input
							class="form-control width4 mg-40" id="lastname" name="lastname" (focus)="clearNullFieldError()"
							type="text" [(ngModel)]="lastname" (keypress)="onlyAlphabets($event)"   maxlength="15"/> <span id="searchForm_file_Error" class="error"
							style="display: none" ></span>

					</div>
				</div>

			</div>

			<div class="clearfix mb-10"></div>

			<div class="clearfix mb-10">
				<div class="width6 clearfix">
					<div class="form-group">
						<label class="width6 mg-10" style="color:#1976d2;">Application</label> 
						<select *ngIf="this.appDataPresent" id="application" [(ngModel)]='appSelect' name="application" class="form-control width5 mandatory" (change)="selectApp($event)" (focus)="clearNullFieldError()">
							<option value="">[Select One]</option>
							<option  *ngFor="let app of this.data.applicationList | keyvalue" value = "{{app.value}}">
								{{app.key}}
							</option>
						</select>	
								
										

					</div>
				</div>
				<div class="width6 pull-right">
					<div class="form-group key">
						<label class="width6 mg-10" style="color:#1976d2">Role </label>
							<select  id="role" name="role" [(ngModel)]="roleSelect" class="form-control width5 mandatory" (focus)="clearNullFieldError()">
								<option value="">[Select One]</option>
								<option *ngFor="let role of this.roles | keyvalue" value = "{{role.value}}">
									{{role.key}}
								</option>
							</select>	

					</div>
				</div>

				
				<div class="width6 mg-20">
						<div class="form-group key">
							<label class="width6 mg-10" style="color:#1976d2;">Supervisor ID </label> <input
								class="form-control width4 mandatory" id="supervisorid" (focus)="clearNullFieldError()"
								name="supervisorid" type="text" [(ngModel)]="supervisorid" (keypress)="onlyNumberKey($event)"  maxlength="10"/> 
						</div>
					</div>

					
			</div>

			<div class="clearfix mb-10">
					<div [className]=" this.showNullFieldError ? 'show-error-div' : 'hide-error-div'">
						<div class="alert is-critical">{{this.errorMessage}}
							<div class="close-error-div">
								<button type="button" class="close" aria-label="Close" (click)="closeErrorDiv()">
										<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
					</div><br>
					<div class="buttonmargin2">
					<div class="clearfix mb-10 " stlye="margin-top: -26px; z-index: 26;">
						<button type="button" class="btn btn-blue btn-widths"
							id="documentupload1" name="documentupload" (click)="setUserDeatilsUi()">Submit</button>
						<button type="button" class="btn btn-blue btn-widths"
							id="documentupload1" name="documentupload" (click)="resetValues()">Reset</button>

					</div>

				</div>
			</div>
		</div>
	</form>

</div>
<br>

<!-- <div *ngIf="show"> -->
<div class="main-div-outer" *ngIf="show" >

		
		<div class="search-div">
				<mat-form-field class="search-form-field" >
				  <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search" autocomplete="off">
				</mat-form-field>
				<button type="button" class="exportExcel" id="exportExcel" class="k-button" (click)="downloadExcelFile()"  *ngIf="show">Export To Excel</button> 
			  
		</div>

<div class="mat-table-data">
		<table mat-table #table [dataSource]="dataSource" matSort >
		<!-- matSortActive="created" matSortDisableClear matSortDirection="desc"> -->
	  
		  <ng-container matColumnDef="userId">
			<th mat-header-cell  *matHeaderCellDef mat-sort-header class="mat-header-decorator"> User ID </th>
			<td mat-cell  *matCellDef="let element"><a (click)="roleshow(element.userId, element.branchId )"> {{element.userId}} </a> </td>
		  </ng-container>

		  <ng-container matColumnDef="branchId">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-decorator" style="padding-left: 1%;"> Branch ID </th>
				<td mat-cell  *matCellDef="let element"> {{element.branchId}} </td>
		</ng-container>

		<ng-container matColumnDef="firstName">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-decorator" style="padding-left: 6%;"> Name </th>
			<td mat-cell  *matCellDef="let element"> {{element.firstName}} <br> {{element.lastName}}  </td>
		</ng-container>

		  
		  <ng-container matColumnDef="applicationRole">
			<th mat-header-cell *matHeaderCellDef class="mat-header-decorator" style="padding-left: 1%;"> Application Roles </th>
			<td mat-cell  *matCellDef="let element"> <a (click)="showAppSearch(element.userId)" >show details</a> </td>
		  </ng-container>
	  
		  <ng-container matColumnDef="permissionList">
			<th mat-header-cell *matHeaderCellDef  class="mat-header-decorator" style="padding-left: 1%;"> Permission List </th>
			<td mat-cell  *matCellDef="let element"><a (click)="showPermissionList(element.userId)">show details</a></td>
		  </ng-container>
	  
		  <ng-container matColumnDef="supervisorID">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-decorator" style="padding-left: 1%;"> Supervisor ID </th>
			<td mat-cell  *matCellDef="let element"> {{element.supervisorID}} </td>
		  </ng-container>

		  <ng-container matColumnDef="email">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-decorator" style="padding-left: 8%;"> Email </th>
			<td mat-cell  *matCellDef="let element" > {{element.email}} </td>
		  </ng-container>

			<ng-container matColumnDef="phoneNo">
				<th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-decorator" style="padding-left: 3%;"> Mobile No </th>
				<td mat-cell  *matCellDef="let element"> {{element.mobile}} </td>
			</ng-container>
	  
		   <ng-container matColumnDef="unlockUser">
			<th mat-header-cell *matHeaderCellDef class="mat-header-decorator" style="padding-left: 2%;"> Unlock User </th>
			<td mat-cell  *matCellDef="let element" style=" color: #234465;"> <button style="background-color:  #eef3f6; color:#234465;" (click)="unlockConfirm(element.userId)">Unlock</button></td>
		  </ng-container>
	  
		  <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
		  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
</div>
</div>

 <div [className]=" this.show ? 'pagination-show' : 'pagination-hide'" class="pagination-div">
 <mat-paginator #paginator class="custom-mat-paginator"
	[pageIndex]="0"  
	[pageSize]="10"
	[pageSizeOptions]="[5, 10, 20]"  
	[showFirstLastButtons]="true">
</mat-paginator>
</div>


<div [ngClass]="{'confirm-unlock': this.confirmUnlock,'hide-confirm-unlock': !this.confirmUnlock}">
	<div class="close-confirm" (click)="cancelConfirm()"><img src="assets/lu-modal-close.png" alt="close"></div>
	<br/><br/>
	<div class="confirm-text">
		Confirm Unlock<br/>
		User ID : {{this.unlockUserId}}
	<br/>
		<button class="btn btn-success confirm-unlock-yes" (click)="unlockUser()">Yes</button>
		<button class="btn btn-danger confirm-unlock-no" (click)="cancelConfirm()">No </button>
	</div>
</div>
<div [ngClass]="{'confirm-background': this.confirmUnlock,'hide-confirm-background': !this.confirmUnlock}" (click)="cancelConfirm()"></div>