
.inputDate {
    font-family: 'Roboto';
	color: #1976d2;
    text-align: center;
    font-size: 21px;
    font-weight:100;
  
}

table {
	max-width:100%;
	table-layout:fixed;
	margin:auto;
}
th, td {
    padding:2px 5px;   
    border: 2px solid white; 
    border-top: none;
}
thead, tfoot {
	background:#f9f9f9;
	display:table;
	width:100%;
}
tbody {
	height:215px;
	overflow:auto;
    overflow-x:hidden;
    overflow-y: auto;
	display:block;
    width:100%;
    
}
tbody tr {
	display:table;
	width: 100%;
    table-layout:fixed;
    font-size: 13px;
    font-weight: bold;
}






.detailsouter{
    height: 325px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    overflow-y: auto;
    margin-left: 0;
    width: 100%;
} 


div a { 
    display: block;
    background-color: #eef3f6;
    color: #234465;
 
 }


 td a{
    text-decoration: underline;
    padding-bottom: 0px;
    padding-top: 5px;
 }

 /*.exportExcelDisable{
    float: right;
    margin-right: 1%;
    backgroun`d-color: gray;
    color: #fff;
    width: 124px;
    margin-top: 2%;
    height: 38px;
    border-radius: 18px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 1px 2px rgba(0,0,0,.23);
    cursor:not-allowed;;
 }*/

 .exportExcel{
    float: right;
    margin-right: 1%;
    background-color: #234465;
    color: #fff;
    width: 124px;
    margin-top: 2%;
    height: 38px;
    border-radius: 18px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 1px 2px rgba(0,0,0,.23);
  }

  .exportExcel:hover{
    background-color: #216ab3;
  }

.errorMsg{ 
    margin-left: 42%;

    margin-bottom: -37px;
}

.TraceErrorMsg{ 
    padding-left: 8%;
    text-align: center;
}

.last-name-div{
    margin-top: -27px;
}
td{
    border: 3px solid #fff;
    text-align: center;
}



  .mat-header-decorator{
    text-align: center;
    color: white;
    background-color: #234465;
    font-size: 15px;
  }
  tr.mat-header-row {
    height: 47px !important;
}

tr.mat-footer-row, tr.mat-row {
    height: 34px !important;
}


    .custom-mat-paginator{
    display: flex;
    align-items: center;
   
    justify-content: flex-end;
    min-height: 56px;
  
    flex-wrap: wrap-reverse;
    color: #000;
    margin-right: 3%;
    width: 98%;
    border: 3px solid #043363;
    background-color: #fff;
    border-top: none;
}

.mat-table-data{
    overflow-y: auto;
    max-height: 400px;
    width:100%;
    min-height: 100px;
    overflow-x: hidden;
}
.pagination-hide{
    display: none;
    color: black;
}
.pagination-show{
    display: block;
    color: black;
}

.mat-paginator{
    color: black;
}
.mat-sort-header-indicator {
    color: white;
}
.mat-cell{
    color: #234465;
    background-color: #eef3f6;
}

.show-error-div{
    visibility:visible;
    padding-left: 8%;
    color: red;
    text-align: center;
}
.hide-error-div{
    visibility:hidden;
    padding-left: 8%;
    color: red;
    text-align: center;
}
th.mat-sort-header-sorted {
    color: white;
  }

table.mat-table{
    width:100%;
}

td.mat-cell:last-of-type{
    padding-right:0px;
}
td.mat-cell:first-of-type{
    padding-left:0px;
}

.mat-column-userId, .mat-column-branchId, .mat-column-applicationRole, .mat-column-permissionList{
   width: 9%; 
   text-align: center;  
}
.mat-column-email{
    width:20%;  
    text-align: center; 
}
.mat-column-phoneNo{
    width:12%;   
    text-align: center;
}
.mat-column-name{
    width:16%; 
    text-align: center;
}
.mat-column-unlockUser, .mat-column-supervisorID{
    width: 8%;   
    text-align: center;
}
.main-div-outer{
    border: 3px solid #001e3c;
    width: 98%;
    border-bottom: none;
    padding-bottom: 1%;
}
.search-div{
    width:100%
}
.search-form-field{
    width: 23%;
    margin-left: 1%;
    padding: 5px 10px;
    background-color: white;
    border-radius: 5px;
    height: 60px;
    margin-top: 1%;
}
.search-form-field div.mat-form-field-underline{
    display: none;
}
.search-form-field div.mat-form-field-infix{
    border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper{
    padding-bottom: 0px;
}

.cdk-column-email{
    text-align: center;
}

.alert.is-critical, .is-critical.callout {
    background-color: rgba(221,0,49,.05);
    padding: 8px;
}

.alert, .callout {
    width: 39%;
    margin-left: 26%;
}

.close-error-div .close {
    margin-top: -8%;
    margin-right: -3%;
    font-size: 1.6rem;
    font-weight: 800;
    float: right;
}




















@media only screen and (max-width: 710px) {

div.width6{
    width: 100%;
}
div.mg-10{
    padding-top: 0px;
}
div.mb-10, div.form-group{
    margin-bottom: 0px;
}
/* div.form-group {
    margin-bottom: 0px;
} */
div.mg-40 , div.mg-20 , div.last-name-div, input.mg-40, label.mg-40{
    margin-top: 0px;
}

div.alert{
    width: 70%;
    margin-left: 12%;
    margin-top: 3%;
    }


}

.hide-confirm-unlock{
    display: none;
}

.confirm-unlock{
    display: block;
    position: fixed;
    top:calc(50% - 100px);
    left:calc(50% - 200px);
    width:400px;
    height:200px;
    background-color: white;
    z-index: 101;
    border-radius: 5px;
}

.confirm-background{
    display: block;
    position: fixed;
    top:0px;
    left:0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    background-color: #000;
    opacity: 0.7;
}

.hide-confirm-background{
    display: none;
}

.close-confirm{
    float: right;
    right:0px;
}

.confirm-text{
    text-align: center;
    font-size: 24px;
    color: #043363;
}

.confirm-unlock-yes{
    width: 60px;
    margin-left: 10px;
}

.confirm-unlock-no{
    width: 60px;
    margin-left: 10px;
}