/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
	font-family: "Robocon reg";
    src: url('app/assets/fonts/RobotoCondensed-Regular.ttf') format("truetype");
}
.role-permission-dialog .mat-dialog-container {
    padding: 5px;
}

body {background-color: #fff;
    color: #333; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size:0.9em !important;
  
    margin: 0;
}

.mat-header-decorator {
    text-align: center;
    color: #fff;
    background-color: #234465;
    /* font-size: 15px !important; */
}
/* tr.mat-header-row {
    height: 47px !important;
}

tr.mat-footer-row, tr.mat-row {
    height: 0.5em !important;
} */
