    <header class="row pd-10">
    
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-logo" src='assets/logo.png'>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-4 " >
                    <div class="toll-free-num">
                        <a style="color:#2E639A;">
                            tech.support@newindia.co.in &nbsp; |Toll Free 1800-209-1415  </a><a style="color:#2E639A;">
                            tech.support@newindia.co.in &nbsp; |Toll Free 1800-209-1415  </a></div>
                </div>
                <div class="col-md-1 logout-con" >
                </div>
    
            </div>
        </div>
    </header>