
<ng4-loading-spinner [timeout]="120000"> </ng4-loading-spinner>
 <div class="role-page">

<div class="user-det "><!--*ngIf="this.show"> -->

    <div *ngFor="let item of this.roleData.list;" style="line-height: 12px;">
    <div class="user-det-head">
        <label> User Details</label>
    </div>
    <!-- <br> -->
    <div class="user-det-fields-left" >
        <div class="user-det-left-field">
            <div  class="user-det-left-field-head"  >
                <label>  User ID</label>
            </div>
            <div >
    
            <div class="user-det-left-field-content">
            : {{item.userId}}
            </div>
            </div>
        </div>
        <div class="user-det-left-field">
            <div class="user-det-left-field-head"  (click)="LoadApplication(item.userId)">
                <label>  DOB</label>
            </div>
            <div class="user-det-left-field-content" >
                : {{item.dob}}
            </div>
        </div>
        <div class="user-det-left-field">
            <div class="user-det-left-field-head">
                <label> BranchID</label>
            </div>
            <div class="user-det-left-field-content">
                : {{item.branchId}}
            </div>
        </div>
        <div class="user-det-left-field">

        </div>
        <div class="user-det-left-field">            
            <div class="user-det-left-field-head">
                <label> SupervisorID</label>
            </div>
            <div class="user-det-left-field-content">
                : {{item.supervisorID}}
            </div>
        </div>
        <div class="user-det-left-field">
            <div class="user-det-left-field-head">
                <label>   Designation</label>
            </div>
            <div class="user-det-left-field-content">
                : {{item.designation}}
            </div>
        </div>
        <div class="user-det-left-field">
            <div class="user-det-left-field-head">
                <label> Gender</label>
            </div>
            <div class="user-det-left-field-content" *ngIf="item.gender==='F'">
                : Female
            </div>
            <div class="user-det-left-field-content" *ngIf="item.gender==='M'">
                : Male
            </div>
        </div>                      
        <div class="user-det-left-field">
            <div class="user-det-left-field-head">
                <label>  Mobile </label>
            </div>
            <div class="user-det-left-field-content">
                : {{item.mobile}}
            </div>
        </div>
        <div class="user-det-left-field">
            <div class="user-det-left-field-head">
                <label>  Phone </label>
            </div>
            <div class="user-det-left-field-content">
                : {{item.phoneNo}}
            </div>
        </div>
        
    
    </div>
    <div class="user-det-fields-right">
    
        <div class="user-det-right-field">
            {{item.firstName}} {{item.lastName}}
        </div>
        <div class="user-det-right-field">
            {{item.address}}
        </div>
        <div class="user-det-right-field">
            {{item.email}}
        </div>
        
    </div>

    <div class="user-permission-edit">
            <label style="font-weight: bold;"> Permission List : </label> {{item.permissionList}} : <span class="perm-list"> 
            <a style="text-decoration: underline" (click)="getPermissionListDetails()"> ADD/MODIFY</a></span>
            <span *ngIf="permissionName != null && permissionName != ''" style=" padding-left:3%;">
                    <label style=" color: red">New Permission List : </label>
                    <label style=" padding-left:1%;  color: red;">{{permissionName}}</label> </span>
    </div>
    
    </div>
    </div>


    <div class="role-selector">
    <div class="role-container">
    <mat-tab-group animationDuration="0ms" [selectedIndex]="this.selected" (focusChange)="onTabClick($event)" class="mat-custom-body">		
            <mat-tab *ngFor="let app of this.allApplicationNames; let index = index" [label]="app">
                <div class="search-drowpDown">
                    
                    <mat-form-field class="search-form-field" floatLabel="never">
                            <input matInput (click)="checkPlaceHolder()" (blur)="checkPlaceHolder()" (keyup)="applyFilter($event.target.value)" placeholder="{{myplaceHolder}}" autocomplete="off">
                    </mat-form-field>

                    <!--Added for IIMS Office Code -->

                      <ng-container *ngIf="app ==='IIMS'">
                        <label  class="office-code-IIMS">Office Codes :</label>		
                        <ng-multiselect-dropdown #forIIMS class="mat-custom-mutiSelect" [placeholder]="'Select Branch'" 
                            [data]="this.dropdownList" 
                            [(ngModel)]="this.selectedItems"  
                            [settings]="dropdownSettings"  
                            (onSelect)="onItemSelect($event)" 
                            (onDeSelect)="onItemDeselect($event)">
                        </ng-multiselect-dropdown>
                    </ng-container> 
                    
                    <!--Added for IIMS Office Code -->

                    <ng-container *ngIf="((app ==='Finance')||(app ==='FINANCE')||(app ==='finance'))">
                        <label class="office-code-label">Office Code :</label>
                        <mat-form-field floatLabel="never" style="margin-left:2%;">
                            <mat-label>Office Code</mat-label>
                            <mat-select [(ngModel)]='branchIdForFinanceRole' (ngModelChange)="selectBranchId()" [disabled]="this.combinedBranchList.size ===2">
                                <mat-option *ngFor="let codeSelect of this.branchList" [value]="codeSelect">
                                    {{codeSelect}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <div class="mat-tab-child-left">
                            <div *ngFor="let code of this.officeCodes; let i=index" class="branch-div" [ngClass]="{'hide-close-button': i>2}">
                              
                                    <div class="close-error-div">
                                        <button type="button" class="close" aria-label="Close" [ngClass]="{'hide-close-button': code == this.branchId}" (click)="removeTab(code , true)">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                            </div>
                                        <button mat-raised-button  [ngClass]="{'active': this.selectedBranchIndex == i , 'hide-close-button': i>2}" 
                                        (click)="selectBranchIdTab(code , i)" class="mat-remove-button" >
                                            {{code}}
                                        </button>  
                                
                            </div>
                        <!-- <mat-tab-group animationDuration="0ms" [selectedIndex]="this.selectedBranch" (focusChange)="selectBranchIdTab($event)" class="mat-custom-officeCode">		
                            <mat-tab *ngFor="let code of this.officeCodes; let index = index" [label]="code" > 
                                  
                            </mat-tab>
                        </mat-tab-group> -->
                        
                        </div>
                        <div class="mat-tab-child-right"> </div>
                          <!--  <button mat-raised-button
                            [disabled]="this.officeCodes.length === 1"
                            (click)="removeTab()" class="mat-remove-button">
                                Remove Branch
                            </button> 
                        </div> -->
                    
                    </ng-container>


                </div>
                <div class="example-container mat-elevation-z8">
                        <table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef >
                                  <!--  <input type="checkbox" name="allCheckBox" class="allCheckBox">-->
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="((element.status == 'S')||(element.status == 'N')); else pending">
                                        <input type="checkbox" name="checkbox11" class="checkbox11" value='{ "appId" : "{{element.appId}}" , "roleId" : {{element.roleId}} }' id='{ "appId" : "{{element.appId}}" , "roleId" : {{element.roleId}} }' checked (change)="onRoleCheckboxSelect($event)" [disabled]="element.disable == 'Y'">
                                    </div>
                                    <ng-template #pending>
                                        <div *ngIf="((element.status == 'R')||(element.status == 'I')) ; else notAvailable">
                                            <input name="checkbox11" type="checkbox" class="checkbox11" value='{ "appId" : "{{element.appId}}" , "roleId" : {{element.roleId}} }' id='{ "appId" : "{{element.appId}}" , "roleId" : {{element.roleId}} }' checked disabled>
                                        </div>
                                    </ng-template>
                                    <ng-template #notAvailable>
                                        <input name="checkbox11" type="checkbox" class="checkbox11" value='{ "appId" : "{{element.appId}}" , "roleId" : {{element.roleId}} }' id='{ "appId" : "{{element.appId}}" , "roleId" : {{element.roleId}} }' (change)="onRoleCheckboxSelect($event)" [disabled]="element.disable == 'Y'">
                                    </ng-template>
                                </td>
                            </ng-container>
                                
                            <ng-container matColumnDef="roleName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Role Name </th>
                                <td mat-cell *matCellDef="let element"> 
                                    {{element.roleName}} 
                                    <span *ngIf="((element.status == 'R')||(element.status == 'I'))" style="color:Red; font-style: italic; font-size: 12px; padding-left: 15px;">Requested</span>
                                </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="startDate">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center"> Start Date </th>
                                <td mat-cell *matCellDef="let element ; let i = index"> 
                                    <mat-form-field style="width:70%">
                                        <input #roleStartDate matInput [matDatepicker]="startPicker" [ngStyle]= "myStyle()" 
                                            [value]="roleStartDates[element.roleId+element.officeCode]" 
                                            [min]="this.currentDate.start_Date"
                                            (dateInput)="setStartDate($event, element)" 
                                            [disabled]="element.status != 'N' || mainRoleStartDates[element.roleId+element.officeCode]!=null"
                                            >
                                            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #startPicker></mat-datepicker>
                                        </mat-form-field>
                                    </td>
                            </ng-container>												
                            
                            <ng-container matColumnDef="endDate">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center"> End Date </th>
                                <td mat-cell *matCellDef="let element ; let i = index"> 
                                    <mat-form-field style="width:70%">
                                        <input #roleEndDate matInput [matDatepicker]="endPicker" [ngStyle]= "myStyle()"  
                                        [value]="roleEndDates[element.roleId+element.officeCode]"
                                        [min]="this.defaultEndDate.end_Date"
                                        [disabled]="element.status != 'N'"
                                        (dateInput)="setEndDate($event , element)"
                                        >
                                            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #endPicker></mat-datepicker>
                                    </mat-form-field>
                                </td>
                            </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:15px;">
                            </tr>
                        </table>
                        <div *ngIf="this.isLoading" style="display: flex; justify-content: center; align-items: center; margin-top: 10%;">
                            <mat-progress-spinner strokeWidth="3" [diameter]="60" color="primary" mode="indeterminate">
                            </mat-progress-spinner>
                        </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    
        <div mat-elevation-z8 [className]=" this.show ? 'pagination-show' : 'pagination-hide'" class="pagination-div">
                <mat-paginator #paginator class="custom-mat-paginator-role"
                    [pageSize]="10"
                    [pageSizeOptions]="[5,10,15]"  
                    [showFirstLastButtons]="true">
                </mat-paginator>
        </div>
</div>   
            <div class="remark-label">
                <span> Remarks <label style="color:red ">*</label></span>  
                <input type="text" class="remark-input" placeholder="Enter remarks here" name="remark"  required  
                [(ngModel)]="remark" required (keypress)="checkRemarkValue($event)" maxlength="512">

                <input type="submit" class="submit-button" title="Remark required" value="Submit" 
                [className]="this.showSubmitButton ? 'submit-button' : 'disable-submit-button'" 
                [disabled]="!this.showSubmitButton" 
                (click)="roleUpdateSubmit()">
            </div>
            <div *ngIf="this.showRemarkError" class="alert is-critical" ><span style="color: red ; margin-left: 5%;">{{this.remarkErrorValue}}</span></div>
            
        
    </div>
</div>
                    


 
  